/**
 * @version 1.0.0
 * @description Styles for Header in Dark Theme
*/

header {

    background-color: #171727;
    border-bottom: 1px solid #171727;


    .left {

        .__section-title {

            a { color: #ffffff; }

        }

    }

    .__mobile { background-color: #171727; }

}