/**
 * @version 1.0.0
 * @description Styles for Footer
*/

footer {

    width: 100%;
    padding: $paddingMedium 0;
    background-color: #FCFCFC;

    a, p { color: #9a9a9a; }

    .--to-column { justify-content: space-between; }

    .left {

        align-items: center;

        a { 
            
            font-size: 0.75rem;
            padding: 0 0.75rem;
            font-weight: $weightSemi;

            &.color-primary { color: var(--primary); }
        
        }

    }

    .middle {

        align-items: center;

        img { height: 1.25rem; }

        a { 
            
            font-size: 0.75rem; 
            color: #000000;
        
        }

        span {

            color: #000000;
            text-decoration: underline; 

        }

        img { height: 1rem; }

    }

    .right {

        align-items: center;
        justify-content: flex-end;

        .__social {

            margin: 0 0.25rem;

            img { height: 2.25rem; }

        }

    }

    @media screen and (max-width: 1440px) {

        .container { width: 96%; }

    }

    @media screen and (max-width: 1280px) {
        
        .container { width: 97.5%; }

        .left {

            a { 

                font-size: 0.65rem; 
                padding: 0 0.5rem;

            }

        }

        .middle {

            a { font-size: 0.65rem; }

        }

        .right {

            .__social {

                img { height: 2rem; }

            }

        }

    }

    @media screen and (max-width: 1024px) {
        
        .--to-column { flex-direction: column; }

        .left {

            order: 1;
            width: 100%;
            flex-direction: column;
            margin-bottom: $marginMedium;

            a {

                font-size: 1rem;
                padding: $paddingNormal 0;

            }

        }

        .right {

            order: 2;
            width: 100%;
            justify-content: center;

            .__social {

                img { height: 2.75rem; }

            }

        }

        .middle {

            order: 3;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            img {
 
                height: 2rem;
                margin: $marginNormal 0;

            }

            p, a { 

                text-align: center;
                font-size: 1rem;
                margin-right: 0; 

            }

        }

    }

    @media screen and (max-width: 1024px) {

        .left {

            a { margin: $paddingNormal 0; }

        }

        .right { margin-bottom: $paddingMedium; }

    }

}

html[data-theme='dark'] {

    @import './footer-dark';

}